giphy_client
google-api-python-client
git+https://github.com/nkelton/moviepy.git
python_pixabay
youtube-dl
git+https://github.com/nkelton/pafy.git
git+https://github.com/nkelton/freesound-python.git
requests
google-api-python-client
oauth2client
progressbar2
git+https://github.com/nkelton/youtube-upload.git
git+https://github.com/nkelton/runp.git
